body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 5px;
}

a {
  color: blue;
  text-decoration: none;
}

.bar {
  background-color: #f9f9fb;
  padding: 15px;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
}

.content {
  max-width: 1440px;
  margin: auto;
  grid-gap: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-areas: "sidebar main anchors";
  grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
}

.content ul li {
  margin-bottom: 10px;
}


.main p {
  text-align: justify;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
}

.main ul .thumb {
  display: flex;
  background-color: #f8f9fa;
}

.main h2 {
  margin-top: 50px;
}

.main hr {
  margin-bottom: 30px;
}

.gallerytext {
  display: flex;
  justify-content: center;
}

.footer {
  min-height: 100px;
  border-top: solid 1px #cdcdcd;
}

.anchors {
  border-left: solid 1px #cdcdcd;
  padding-left: 15px;
}

.sidebar {
  border-right: solid 1px #cdcdcd;
}

figure {
  text-align: center;
}

/* aritmetica.html */
.text-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraph {
  width: 66%;
}

div.thumb {
  width: 200px;
  background-color: transparent;
}

div.algebra_thumb_one {
  height: 500px;
}

.thumbinner {
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  font-size: 94%;
  padding: 3px;
  text-align: center;
  overflow: hidden;
}

blockquote {
  background-color: #f1f1f1;
  padding: 0.5em 1.5em;
  border-left: 5px solid #ccc;
}

ol.propriedades {
  margin-bottom: 75px;
}
ol.propriedades li:not(:first-child) {
  margin-top: 75px;
}

ol.propriedades p {
  text-align: center;
  line-height: 0.5rem;
}
