body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 5px;
}

a {
  color: blue;
  text-decoration: none;
}

.header .logo {
  margin-left: 2rem;
}

.bar {
  background-color: #f9f9fb;
  padding: 15px;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
}

.content {
  max-width: 1440px;
  margin: auto;
  grid-gap: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-areas: "sidebar main anchors";
  grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
}

.content ul li {
  margin-bottom: 10px;
}

.main p {
  text-indent: 20px;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
}

.main ul .thumb {
  display: flex;
  background-color: #f8f9fa;
}

.main ul.algebra_classificacao {
  display: block;
  list-style: square;
  margin-left: 25px;
}

.main h2 {
  margin-top: 50px;
}

.main h3 {
  margin: 50px 0 20px;
}
.main hr {
  margin-bottom: 30px;
}

.main > *:last-child {
  margin-bottom: 100px;
}

.gallerytext {
  display: flex;
  justify-content: center;
}

.footer {
  min-height: 100px;
  border-top: solid 1px #cdcdcd;
}

.anchors {
  border-left: solid 1px #cdcdcd;
  padding-left: 15px;
}

.sidebar {
  border-right: solid 1px #cdcdcd;
}

figure {
  text-align: center;
}

/* algebra.html */

.main-algebra .text-img .paragraph {
  width: 65%;
}

.main-algebra .text-img {
  display: flex;
  justify-content: space-between;
}

.algebra figure,
.aritmetica figure {
  margin: 0;
}

.main-algebra blockquote {
  background-color: #f1f1f1;
  padding: 0.5em 1.5em;
  margin: 30px 70px;
  border-left: 5px solid #ccc;
}

/* aritmetica.html */
.text-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aritmetica .paragraph {
  width: 70%;
}

div.thumb {
  width: 200px;
  background-color: transparent;
}

div.algebra_thumb_one {
  height: 500px;
}

.thumbinner {
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  font-size: 94%;
  padding: 3px;
  text-align: center;
  overflow: hidden;
}

ol.propriedades {
  margin-bottom: 75px;
}

ol.propriedades li {
  font-weight: bold;
}

ol.propriedades li:not(:first-child) {
  margin-top: 75px;
}

ol.propriedades p {
  text-align: center;
  line-height: 0.5rem;
}

ol.equacoes li {
  margin-bottom: 10px;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* analise */
.analise {
  display: flex;
  align-items: flex-start;
}

.analise .paragraph {
  width: 60%;
}

.analise .images,
.div_analise_real .images {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.analise .images figure,
.div_analise_real .images figure {
  margin: 0 0 30px;
}

.analise .images figure:last-child,
.div_analise_real .images figure:last-child {
  margin-bottom: 0;
}

ul.analise_ramos {
  display: block;
  list-style-type: square;
  margin-left: 25px;
}

.div_analise_real .paragraph {
  width: 65%;
}

/* geometria.html */
.geometria .paragraph {
  width: 65%;
}

.geometria .images {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.geometria .images figure {
  margin: 10px 0;
}

.geometria-2 figure,
.geometria-3 figure,
.geometria-4 figure,
.geometria-5 figure {
  margin: 0;
}

.geometria-2 .paragraph,
.geometria-3 .paragraph {
  width: 70%;
}


.geometria-4 .paragraph {
  width: 75%;
}


.geometria-5 {
  display: flex;
  align-items: flex-start;
}

.geometria-5 .paragraph {
  width: 65%;
}

.geometria-5 .images {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
}

.geometria-5 .images figure {
  margin: 10px 0;
  object-fit: fit;
}
